<div class="container-xxl">
  <h4>Lista de aços cadastrados:</h4>
      <a href="/admin/cadastro/aco" class="btn btn-primary btn-md mb-2  ">Novo</a>
      <br>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-highlight">
        <thead>
          <th>idAco</th>
          <th>ACODIGO</th>
          <th>ANOME</th>
          <th>ADESCRIÇÃO</th>
        <tbody>
          {{#if getAcoAl}}
          {{#each getAcoAl}}
          <tr>

            <td>{{idAco}}</td>
            <td>{{ACODIGO}} </td>
            <td>{{ANOME}}</td>
            <td>{{ADESCRICAO}}</td>

          </tr>
          {{/each}}
          {{else}}
          <p class="d-flex align-items-center">Não há aços cadastradas</p>
          {{/if}}
    </div>
    </tbody>
    </table>
</div>