{{>msg}}
<div class="container-xxl">
    <h4>Lista de Relações cadastradas:</h4>
        <a href="/admin/cadastro/relacao" class="btn btn-primary btn-md mb-2">Novo</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-highlight">
                <thead>
                    <th>idRel</th>
                    <th>Aço</th>
                    <th>Eletrodo</th>
                    <th>Situação</th>

                <tbody>
                    {{#if getRelacaoAll}}
                    {{#each getRelacaoAll}}
                    <tr>

                        <td>{{idRel}}</td>
                        <td>{{acodigo}} </td>
                        <td>{{ecodigo}}</td>
                         <td>{{sinome}}</td>
                         <td><a href="/admin/excluir/relacao/{{idRel}}"  class="btn btn-danger me-2 mb-2"> <i class="bi bi-x-circle-fill"></i></a><a href="#" class="btn btn-info mb-2"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <p class="d-flex align-items-center">Não há situações cadastradas</p>
                    {{/if}}
        </div>
        </tbody>
        </table>
</div>