{{>msg}}
<div class="container-xxl">
    <h4>Lista de situações cadastradas:</h4>
        <a href="/admin/cadastro/situacao" class="btn btn-primary btn-md mb-2">Novo</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-highlight">
                <thead>
                    <th>idSit</th>
                    <th>SINOME</th>
                    <th>SIDESCRICAO</th>
                <tbody>
                    {{#if getSitAl}}
                    {{#each getSitAl}}
                    <tr>

                        <td>{{idSit}}</td>
                        <td>{{SINOME}} </td>
                        <td>{{SIDESCRICAO}}</td>
                         <td><a href="/admin/excluir/situacao/{{idSit}}"  class="btn btn-danger me-2 mb-2"> <i class="bi bi-x-circle-fill"></i></a><a href="#" class="btn btn-info mb-2"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <p class="d-flex align-items-center">Não há situações cadastradas</p>
                    {{/if}}
        </div>
        </tbody>
        </table>
</div>
