{{#if historico}}
{{#eachUniqueRel historico}}
<tr>
         <td><input  type="checkbox" class="form-check-input" name="idRel" id="idRel" value="{{idRel}}" checked/><label for="rel{{idRel}}"></label></td>
          <td>{{sinome}} </td>
          <td>{{acodigo}}</td>
          <td>{{ecodigo}}</td>
        </tr>
{{/eachUniqueRel}}
{{else}}
<p class="d-flex align-items-center">Não foram realizadas consultas até o momento</p>
{{/if}}
