{{#if historico}}
{{#eachUniqueRel historico}}
<tr>
         <td><input  type="checkbox" class="form-check-input" id="rel{{idRel}}"value="{{idRel}}"/><label for="rel{{idRel}}"></label></td>
          <td>{{idRel}}</td>
          <td>{{SINOME}} </td>
          <td>{{CODACO}}</td>
          <td>{{CODELETRODO}}</td>
        </tr>
{{/eachUniqueRel}}
{{else}}
<p class="d-flex align-items-center">Não foram realizadas consultas até o momento</p>
{{/if}}
