{{>msg}}
<div class="card justify-content-center">
    <div class="card-body ">
        <h4 class="card-title">Cadastrar Relação:</h4>
        <br>
        <form action="/admin/cadastro/relacao" method="POST">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01"> Aço</label>
                </div>
                <select class="custom-select" name="idAco" id="inputGroupSelect01">
                    {{#if Aco}}
                    {{#each Aco}}
                    <option value="{{idAco}}">{{ACODIGO}}</option>
                    {{/each}}
                    {{/if}}
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect02"> Eletrodo</label>
                </div>
                <select name="idEl" class="custom-select" id="inputGroupSelect02">
                    {{#if eletrodo}}
                    {{#each eletrodo}}
                    <option value="{{idEl}}">{{ECODIGO}}</option>
                    {{/each}}
                    {{/if}}
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect03">Situação</label>
                </div>
                <select name="idSit" class="custom-select" id="inputGroupSelect03">
                    {{#if situacao}}
                    {{#each situacao}}
                    <option value="{{idSit}}" >{{SINOME}}</option>
                    {{/each}}
                    {{/if}}
                </select>
            </div>


            <button type="submit" class="btn btn-primary mb-2">Salvar</button>
        </form>
    </div>